<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="../../css/styleAdmin.css">
</head>

<body>
    <h2>Administrador de invitaciones</h2>
    <div class="container-site">
        <a href="../../">
            <div class="gotohome"></div>
        </a>
        <a href="form.html">
            <div class="generateInvitation"></div>
        </a>
        <a href="checkin.html">
            <div class="scannQr"></div>
        </a>
    </div>
</body>

</html>